<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/aboutme">About Me</a>
      <a mat-list-item routerLink="/savedletters">Saved Letters</a>
      <a mat-list-item routerLink="/">Landing</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button
      style="transform: translateY(-70%);"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="transform: translateY(-80%);">Letters 2 Lost Loved Ones</span>
      <span style="margin-left: auto; transform: translateY(-80%);">
        <button *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
        <span style="margin-right: 20px" *ngIf="isAuthenticated">{{ this.username }}</span>
        <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
      </span>

<!--      <span style="margin-left: auto">Log In</span>-->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
